{% extends "base.html" %}
{% load static %}

{% block content %}
    <header class='bg-light'>
        <div class="container-fluid">
            <div class="text-center">
                 <h1>Show me here</h1> <!-- Navigation bar hide the sentence -->
                <h1>More than that!</h1>
                <p>Ongoing Hybrid Oncidium Prodcut Coming</p>
            </div>
        </div>
    </header>

    <!-- Product section -->

    <section class="bg-dark py-5">
        <div class="container-fluid px-4 px-lg-5 mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-4 mb-5">
                    <!-- product-card -->
                    <div class="card h-100">
                        <!-- product image -->
                        <img class='card-image-top img-fluid'src="{% static 'images/flowers/222-2-1.jpeg' %}" alt=""> <!--class with "card-image-top"-->
                        <!-- product-description -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    Orange Fruit
                                </h5>
                                <!-- price -->
                                $40.00 - $50.00
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 2 -->
                <div class="col-lg-4 mb-5">
                    <div class="card h-100">
                        <img class='card-image-top img-fluid' src="{% static 'images/flowers/222-1.jpeg' %}" alt="">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    Orange Fruit
                                </h5>
                                <!-- price -->
                                $40.00 - $50.00
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Prodcut 3 -->
                <div class="col-lg-4 mb-5">
                    <div class="card h-100">
                        <img class='card-image-top img-fluid'src="{% static 'images/flowers/222-2.jpeg' %}" alt="">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    Orange Fruit
                                </h5>
                                <!-- price -->
                                $40.00 - $50.00
                            </div>
                        </div>
                    </div>
                </div>

                <!-- product 4 -->
                <div class="col-lg-4 mb-5">
                    <div class="card h-100">
                        <img class='card-image-top img-fluid'src="{% static 'images/flowers/226-1.jpeg' %}" alt="">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    Orange Fruit
                                </h5>
                                <!-- price -->
                                $40.00 - $50.00
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="card h-100">
                        <img class='card-image-top img-fluid'src="{% static 'images/flowers/328-1-1.jpeg' %}" alt="">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    Orange Fruit
                                </h5>
                                <!-- price -->
                                $40.00 - $50.00
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="card h-100">
                        <img class='card-image-top img-fluid'src="{% static 'images/flowers/328-1.jpeg' %}" alt="">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    Orange Fruit
                                </h5>
                                <!-- price -->
                                $40.00 - $50.00
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second row or not? -->
            <div class="row justify-content-center">

                <!-- product 5 -->
                <div class="col-lg-4 mb-5">
                    <div class="card h-100">
                        <img class='card-image-top img-fluid'src="{% static 'images/flowers/360-1.jpeg' %}" alt="">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    Orange Fruit
                                </h5>
                                <!-- price -->
                                $40.00 - $50.00
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- product 6 -->
                <div class="col-lg-4 mb-5">
                    <div class="card h-100">
                        <img class='card-image-top img-fluid'src="{% static 'images/flowers/399-1.jpeg' %}" alt="">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    Orange Fruit
                                </h5>
                                <!-- price -->
                                $40.00 - $50.00
                            </div>
                        </div>
                    </div>
                </div>

                <!-- product 7 -->
                <div class="col-lg-4 mb-5">
                    <div class="card h-100">
                        <img class='card-image-top img-fluid'src="{% static 'images/flowers/477-1.jpeg' %}" alt="">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    Orange Fruit
                                </h5>
                                <!-- price -->
                                $40.00 - $50.00
                            </div>
                        </div>
                    </div>
                </div>

                <!-- product 8 -->
                <div class="col-lg-4 mb-5">
                    <div class="card h-100">
                        <img class='card-image-top img-fluid'src="{% static 'images/flowers/588-7-1.jpeg' %}" alt="">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    Orange Fruit
                                </h5>
                                <!-- price -->
                                $40.00 - $50.00
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="card h-100">
                        <img class='card-image-top img-fluid'src="{% static 'images/flowers/643-2-1.jpeg' %}" alt="">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    Orange Fruit
                                </h5>
                                <!-- price -->
                                $40.00 - $50.00
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="card h-100">
                        <img class='card-image-top img-fluid'src="{% static 'images/flowers/643-3-1.jpeg' %}" alt="">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    Orange Fruit
                                </h5>
                                <!-- price -->
                                $40.00 - $50.00
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}